@font-face {
    font-family: 'Clash Display';
    src: url('assets/fonts/ClashDisplay/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Clash Grotesk Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('assets/fonts/clash-grotesk/ClashGrotesk-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Clash Grotesk Regular';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('assets/fonts/clash-grotesk/ClashGrotesk-Regular.ttf') format('truetype');
}

body {
    font-family: 'Clash Grotesk Regular', sans-serif;
    width: 400px;
    min-height: 600px;
    height: 100%;
    color: #061C00;
    font-size: 14px;
    line-height: 14px;
    overflow: hidden;

    background-image: url('assets/bg-darker.png');
}
h1 {
    font-family: "Clash Display", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #061C00;
}
h2 {
    font-family: "Clash Display", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #061C00;
}
h3 {
    font-family: "Clash Display", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #061C00;
}
h3 {
    font-family: "Clash Display", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #061C00;
}
h4 {
    font-family: "Clash Display", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #061C00;
}
h5 {
    font-family: "Clash Display", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #061C00;
}
h6 {
    font-family: "Clash Display", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #061C00;
}
p {
    line-height: 18px;
    margin-bottom: 0;
}
.text-gray {
    color: #667085;
}
.text-green {
    color: #9ECC00;
}
.text-dark {
    color: #061C00;
}
.text-small {
    font-size: 13px;
}
.text-grotesk {
    font-family: "Clash Grotesk Regular", sans-serif;
    font-weight: 300;
}
.text-bold {
    font-weight: 500;
}
.text-grotesk.text-bold {
    font-family: "Clash Grotesk Medium", sans-serif;
    font-weight: 500;
}
.select-none {
    user-select: none;
}
.btn {
    font-family: "Clash Grotesk Medium", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0;
    padding: 10px 18px;
    box-shadow: none !important;
}
.btn.btn-sm {
    padding: 4px 8px;
    font-size: 14px;
    line-height: 22px;
    min-height: 40px;
}
.btn-primary {
    background-color: #C0FF00;
    border-color: #C0FF00;
    color: #061C00;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #A9E208;
    border-color: #A9E208;
    color: #061C00;
}
.btn-secondary {
    background-color: #061C00;
    border-color: #061C00;
    color: #ffffff;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    background-color: #041100;
    border-color: #041100;
    color: #ffffff;
}
.btn-text {
    background-color: transparent;
    border: none !important;
    color: #061C00;
}
.btn-text:hover, .btn-text:active, .btn-text:focus {
    color: #041100;
}
.btn.disabled {
    background-color: #F8F8F9;
}
.btn .icon {
    font-size: 14px;
    margin-left: 10px;
}
.btn .icon.icon-left {
    margin-left: 0;
    margin-right: 10px;
}
.btn.btn-sm .icon {
    font-size: 12px;
    margin-left: 6px;
}
.btn.btn-sm .icon.icon-left {
    margin-left: 0;
    margin-right: 6px;
}
.btn-error {
    color: #F53400;
}
.btn-error:hover {
    color: #d22e03;
}
.click {
    cursor: pointer;
}
.alert {
    padding: 0;
}
.alert-danger {
    background-color: #ffffff;
    border-color: #991900;
    color: #991900;
}
.alert .icon {
    width: 60px;
    background-color: #991900;
    color: #ffffff;
    text-align: center;

}
.alert .icon span {
    width: 100%;
    font-size: 26px;
}
label.label {
    font-family: "Clash Grotesk Medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 6px 0 10px 0;
}
.form-group {
    border: 1px solid #D5D6DA !important;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05) !important;
}
.form-group .form-control {
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
    padding-left: 0;
    background-color: #FFFFFF !important;
}
.form-group .input-group-text {
    background-color: transparent;
    border-radius: 0;
    border: 0;
    font-size: 12px;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    padding: 8px 16px;
    z-index: 999;
    opacity: 0;
}
#header.visible {
    opacity: 1;
}
#init_screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/bg-darker.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    z-index: 9999;
}
#init_screen.inactive {
    display: none !important;
    z-index: -1;
}
#init_screen .init-logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 102px;
    height: 128px;

    background-image: url('assets/b.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#root {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
}

.bitgreen-svg {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: auto;
}

.separator {
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 2px;
    background: #ffffff;
}

.browser-wallet {
    position: absolute;
    top: 260px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: "Clash Display", sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
}

#getstarted {
    position: absolute;
    top: 380px;
    left: 0;
    right: 0;
    width: 150px;
    margin: auto;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

#heading {
    display: block;
    width: 100%;
    height: 140px;
    padding: 60px 16px 16px 16px;
}
#heading.bigger {
    height: 240px;
}
#heading #logo {
    display: inline-block;
    float: left;
}
#heading .content {
    padding-top: 22px;
}
#bordered_content {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;

    width: 100%;
    height: calc(100% - 140px);

    padding: 16px;

    background-color: #ffffff;
    border-radius: 16px 16px 0 0;
}
#bordered_content.smaller {
    top: 270px;
    height: calc(100% - 270px);
    padding-top: 38px;
}
#bordered_content #top_items {
    position: absolute;
    top: -18px;
    left: 12px;
    right: 0;
    width: 100%;
    text-align: center;
}
#bordered_content #top_items button {
    width: 144px;
    border-radius: 4px;
    height: 36px;
    line-height: 36px;
    padding: 0;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.1);
}
#bordered_content #top_items button .icon {
    font-size: 12px;
}
#current_wallet {
    position: relative;
    margin-right: 8px;
    padding: 6px 10px;
    overflow: hidden;
    z-index: 2;
}
#current_wallet:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: " ";
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    opacity: 0.8;
    z-index: -1;
}
#current_wallet .identicon,
#current_wallet .identicon svg {
    width: 32px;
    height: 32px;
}
#current_wallet .identicon {
    position: relative;
    margin-right: 8px;
    border-radius: 16px;
    background-color: #ffffff;
}
#current_wallet .identicon svg {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1px;
    top: 1px;
}
#current_wallet .info {
    color: #ffffff;
    font-size: 12px;
}
#current_wallet .info .desc {
    display: block;
    font-size: 14px;
    width: 100%;
    margin-top: 2px;
    font-family: "Clash Grotesk Medium", sans-serif;
    font-weight: 500;
}
#current_wallet .icon {
    font-size: 6px;
    margin-left: 10px;
    margin-right: 4px;
    color: #B1B4BD;
}
#go_settings {
    font-size: 18px;
    margin-left: 5px;
}
.button-item {
    width: 100%;
    height: 85px;
    background-color: #ffffff;
    margin-bottom: 15px;

    box-shadow: 0 1px 3px rgba(17, 20, 30, 0.1), 0 1px 2px rgba(17, 20, 30, 0.06);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    user-select: none;
}
.button-item:hover {
    box-shadow: 0 3px 4px rgb(17 20 30 / 18%), 0 2px 3px rgb(17 20 30 / 8%);
    transition: all 0.1s;
}
.button-item .icon {
    width: 60px;
    font-size: 18px;
}
.button-item.button-gray {
    background-color: #F8F8F9;
}
.button-item.tab-item {
    opacity: 0;
    height: 100px;
    margin-bottom: 12px;
}
.button-item.tab-item .icon {
    display: block;
    width: 100%;
    height: 65px;
    line-height: 65px;
    font-size: 36px;
    text-align: center;
}
.button-item.tab-item .title {
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: "Clash Grotesk Medium", sans-serif;
    font-weight: 500;
    padding: 0 8px 4px 8px;
}
#transactions {
    height: 345px;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 8px;
    padding-bottom: 5px;
}
#transactions_end {
    position: absolute;
    margin-top: -45px;
    left: 0;
    width: calc(100% - 30px);
    height: 45px;
    background: linear-gradient(to bottom, transparent 0%, transparent 10%, #FFFFFF 80%, #FFFFFF 100%);
    pointer-events: none;
}
#transactions::-webkit-scrollbar {
    width: 10px;
}
#transactions::-webkit-scrollbar-track {
    background: #F8F8F9;
    border-radius: 4px;
}
#transactions::-webkit-scrollbar-thumb {
    background: #B1B4BD;
    border-radius: 4px;
}
#transactions::-webkit-scrollbar-thumb:hover {
    background: #667085;
}
#transactions .button-item {
    height: 65px;
    padding: 0 8px;
    opacity: 0;
    margin-bottom: 10px;
}
#transactions .transaction-info {
    width: 90%;
    padding-right: 40px;
    text-align: center;
    text-transform: uppercase;
}
#transactions .transaction-info .token-amount {
    width: 100px;
}
#transactions .transaction-info .col {
    padding: 0 8px;
}
#transactions .transaction-info .icon,
#transactions .transaction-info .amount,
#transactions .transaction-info .amount .digits {
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 6px;
}
#transactions .transaction-info .icon {
    font-size: 18px;
    color: #039855;
}
#transactions .transaction-info .icon.icon-success {
    color: #039855;
}
#transactions .transaction-info .icon.icon-error {
    color: #CC2400;
}
#transactions .transaction-info .amount {
    font-family: "Clash Grotesk Regular", sans-serif;
    font-size: 20px;
}
#transactions .transaction-info .amount .digits {
    font-size: 14px;
    padding-top: 4px;
}
#transactions .transaction-info .desc {
    font-family: "Clash Grotesk Medium", sans-serif;
    font-size: 12px;
}
#transactions .button-item .icon.icon-small {
    width: 10%;
    font-size: 12px;
}
#full_page {
    position: absolute;
    width: 100%;
    height: 100%;
}
#full_page .heading {
    width: 100%;
    height: 60px;
    padding: 12px 64px 12px 24px;
    background-color: #061C00;
    color: #ffffff;
}
#full_page .heading .icon {
    width: 40px;
    text-align: center;
    font-size: 18px;
}
#full_page .heading h3 {
    width: 100%;
    margin: 0;
    text-align: center;
    color: #ffffff;
}
#full_page .content {
    width: 100%;
    height: calc(100% - 60px);
    padding: 16px;
    background-color: #ffffff;
    color: #ffffff;
    overflow: auto;
    overflow-x: hidden;
}
#full_page .content.full-content {
    height: 600px;
}
#full_page .content .icon-huge {
    font-size: 53px;
}
#full_page .content .mnemonics {
    width: 100%;
}
#full_page .content .mnemonics .word {
    padding: 2px;
    overflow: visible;
}
#full_page .content .mnemonics .word .badge {
    position: relative;
    display: flex;
    border-radius: 8px;
    background-color: #F8F8F9 !important;
    color: #061C00 !important;
    padding: 9px 4px 9px 8px;
    z-index: 10;
    transition: all 0.3s;
}
#full_page .content .mnemonics.clickable .word .badge {
    border: 2px solid #ffffff;
}
#full_page .content .mnemonics.clickable .word.selected .badge {
    transform: scale(0.9) !important;
    background-color: #ffffff !important;
    border: 2px dashed #D5D6DA;
    transition: none !important;
}
#full_page .content .mnemonics.clickable .word.selected .index {
    display: none;
}
#full_page .content .mnemonics.clickable .word.selected .remove {
    display: none;
}
#full_page .content .mnemonics.clickable .word:hover {
    cursor: pointer;
}
#full_page .content .mnemonics.clickable .word:hover .badge {
    /*transform: scale(1.07);*/
    border-left-width: 2px;
    border-right-width: 2px;
}
#full_page .content .mnemonics.clickable .word:hover > * {
    pointer-events: none;
    z-index: 99;
}
#full_page .content .mnemonics.clickable .word .badge .remove {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    line-height: 100%;
    font-size: 10px;
    color: #ffffff;
    background-color: #cc2400;
    border-radius: 8px 0 0 8px;
    transition: all 0.2s linear;
    z-index: 99;
    pointer-events: all !important;
    overflow: hidden;
    opacity: 0;
}
#full_page .content .mnemonics.clickable .word .badge .remove span {
    display: block;
    width: 100%;
    text-align: center;
}
#full_page .content .mnemonics.clickable .word .badge .remove:hover > * {
    pointer-events: none;
}
#full_page .content .mnemonics.clickable .word:hover .badge .remove {
    width: 24px;
    opacity: 1;
}
#full_page .content .mnemonics.clickable .word .badge .remove:hover {
    background-color: #ab1f01;
}
#full_page .content .mnemonics.bordered {
    min-height: 38px;
    border: 1px solid #F8F8F9;
    border-radius: 8px;
    padding: 4px;
}
#full_page .content .mnemonics.bordered.bordered-green {
    border-color: #9ECC00;
}
#full_page .content .mnemonics.dragging .word .badge .remove {
    transition: none !important;
    opacity: 0 !important;
}
#full_page .content .mnemonics .word .badge .icon {
    width: 13px;
    font-size: 11px;
    color: #B1B4BD;
}
#full_page .content .mnemonics .word .badge .index {
    font-size: 12px;
    width: 14px;
    line-height: 14px;
    text-align: center;
    color: #B1B4BD;
    user-select: none;
}
#full_page .content .mnemonics .word .badge .text {
    width: 100%;
    text-align: center;
    font-size: 15px;
    text-transform: lowercase;
}
#full_page .content #mnemonics_info {
    font-size: 14px;
    font-family: "Clash Grotesk Medium", sans-serif;
    font-weight: 500;
    padding: 10px 12px;
    user-select: none;
}
#full_page .content #mnemonics_info .col-6 {
    padding: 0 8px;
}
#full_page .content #mnemonics_info .icon {
    font-size: 22px;
    margin: 0 12px;
}
#full_page #success_icon {
    margin-top: 90px;
    margin-bottom: 40px;
}
#full_page #message_text {
    margin-bottom: 100px;
}
#main_footer {
    position: fixed;
    bottom: 8px;
    left: 8px;
    width: calc(100% - 16px);
    background-color: #061C00;
    border-radius: 8px;
    padding: 8px;
    opacity: 0;
}
#main_footer.visible {
    display: block;
    opacity: 1;
}
#main_footer .item {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    color: #E9F2D9;
    font-size: 18px;
    transition: color 0.3s;
    cursor: pointer;
}
#main_footer .item:hover,
#main_footer .item:focus,
#main_footer .item:active {
    background-color: rgba(192, 255, 0, 0.05);
    color: #C0FF00;
}
#main_footer .item.active {
    background-color: rgba(192, 255, 0, 0.1);
    color: #C0FF00;
}
.footer {
    position: fixed;
    width: 370px;
    min-height: 65px;
    bottom: 0;
    left: auto;
    right: auto;
    padding-top: 8px;
    padding-bottom: 16px;
}
.footer.double-footer {
    bottom: 62px;
}

.info-messages {
    font-family: "Clash Grotesk Medium", sans-serif;
    font-weight: 500;
    color: #061C00;
}
.info-messages.bigger {
    font-size: 16px;
}
.info-messages .message {
    padding: 4px 0;
}
.info-messages.bigger .message {
    padding: 8px 0;
}
.info-messages .icon {
    display: block;
    width: 18px;
    text-align: center;
    color: #B1B4BD;
    margin-right: 10px;
}
.info-messages.bigger .icon {
    width: 20px;
    margin-right: 12px;
}
.info-messages .icon.icon-success {
    color: #9ECC00;
}
.info-messages .icon.icon-check {
    color: #9ECC00;
}
.info-messages .icon.icon-error {
    color: #F53400;
}
#portfolio {
    position: relative;
    width: 100%;
    height: 180px;
    color: #ffffff;
    padding: 12px;
}
#portfolio:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: " ";
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    opacity: 0.8;
    z-index: -1;
}
#portfolio .info {
    padding-left: 12px;
}
#portfolio .info .icon {
    display: inline-block;
    margin-right: 8px;
}
#app_info {
    border: 1px solid #061C00;
    border-radius: 4px;
    height: 90px;
}
#app_info .left {
    width: 90px;
    height: 90px;
    background-color: #061C00;
    padding: 16px 4px 16px 4px;
}
#app_info .icon {
    color: #ffffff;
    font-size: 32px;
    padding: 0 30px;
}
#app_info .message {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}
#app_info .middle {
    padding: 8px 16px 36px 16px;
    color: #9ECC00;
    font-size: 22px;
}
#app_info .right {
    padding: 8px 16px 8px 0;
}
#choose_token {
    padding: 16px;
    border: 1px solid #D5D6DA !important;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05) !important;
    margin: 16px 0;
}
#choose_token .icon {
    font-size: 26px;
    margin-right: 4px;
}
#choose_token .name {
    font-size: 18px;
    margin: 0 12px;
    font-weight: 500;
    font-style: normal;
}
#choose_quantity {
    margin-bottom: 8px;
}
#choose_quantity .col-4 {
    padding: 0 16px 0 0;
}
#choose_quantity #amount {
    text-align: center;
    width: 100%;
    padding: .375rem .75rem;
}
#choose_quantity #amount::-webkit-outer-spin-button,
#choose_quantity #amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#choose_quantity input[type=range] {
    width: 100%;
    margin-top: 8px;
    height: 8px;
    border-radius: 4px;
    background: linear-gradient(to right, #C0FF00 0%, #C0FF00 0%, #F8F8F9 0%, #F8F8F9 100%);
    -webkit-appearance: none;
}
#choose_quantity input[type=range]::-webkit-slider-thumb {
    height: 24px;
    width: 24px;
    background: #FFFFFF;
    -webkit-appearance: none;
    box-shadow: 0 4px 8px -2px rgba(17, 20, 30, 0.1), 0 2px 4px -2px rgba(17, 20, 30, 0.06);
    border-radius: 12px;
}
#review_transaction {
    padding: 16px;
    margin-bottom: 32px;
    color: #061C00;
}
#review_transaction .token {
    padding-left: 32px;
}
#review_transaction .estimated_fees {
    padding-right: 32px;
}
#review_transaction .amount {
    font-family: 'Clash Grotesk Medium', sans-serif;
    font-size: 26px;

    padding: 0 1px 4px;
}
#review_transaction .decimals {
    font-family: 'Clash Grotesk Regular', sans-serif;
    font-size: 14px;

    letter-spacing: -0.05em;
}
#review_transaction .dollar {
    font-family: 'Clash Grotesk Medium', sans-serif;
    font-size: 14px;
    padding-top: 2px;

    letter-spacing: -0.05em;
}
#review_transaction .title {
    margin-top: 6px;
    font-family: 'Clash Grotesk Medium', sans-serif;
    color: #667085;
}
#transaction_info .wallet {
    height: 40px;
    margin-bottom: 30px;
}
#transaction_info .wallet .right {
    padding-left: 8px;
}
#transaction_info .wallet .right .address {
    font-size: 12px;
}
#transaction_info .dot {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #B1B4BD;
    text-align: center;
    margin-top: -18px;
}
#transaction_info .dot:after {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    content: " ";
    background-color: #B1B4BD;
    border-radius: 4px;
}
#transaction_info .dot .dot-line {
    position: absolute;
    bottom: 15px;
    left: 6px;
    width: 2px;
    height: 55px;
    content: " ";
    background-color: #B1B4BD;
    border-radius: 4px;
}
#transaction_info .dot.dot-green {
    border: 1px solid #9ECC00;
}
#transaction_info .dot.dot-green:after {
    background-color: #9ECC00;
}
#transaction_info .dot.dot-green .dot-line {
    background-color: #9ECC00;
}
#qrcode {
    position: relative;
    padding: 16px;
    border: 3px solid #779900;
    margin: 16px 16px 32px;
}
#qrcode * {
    position: relative;
    z-index: 999;
}
#qrcode:after {
    position: absolute;
    content: " ";
    top: -5px;
    left: 32px;
    width: calc(100% - 64px);
    height: calc(100% + 10px);
    background-color: #FFFFFF;
}
#qrcode:before {
    position: absolute;
    content: " ";
    top: 32px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% - 64px);
    background-color: #FFFFFF;
}
.notification {
    background: #FFFFFF !important;
    border: 1px solid #F8F8F9 !important;
    box-shadow: 0 3px 4px rgb(17 20 30 / 0.18), 0 2px 3px rgb(17 20 30 / 0.08) !important;
    border-radius: 8px !important;
    max-width: 100% !important;
    width: calc(100% - 24px) !important;
    color: #061C00 !important;
    padding: 24px 12px !important;
    font-size: 16px !important;
    user-select: none !important;
}
.notification .icon {
    font-size: 26px;
}
.notification.notification-info .icon {
    color: #026AA2;
}
.notification.notification-success .icon {
    color: #9ECC00;
}
.notification.notification-error .icon {
    color: #F53400;
}