body.android {
    #bordered_content {
        padding: 16px 16px calc(10vh + 16px + 40px);
        height: calc(100% - 124px);
    }

    &.keyboard-opened {
        .footer {
            bottom: 5vw !important;
        }
    }

    #main_footer,
    .footer {
        width: 90vw;
        left: 5vw;
        bottom: 5vw;
    }

    .footer {
        &.double-footer {
            bottom: calc(10vh + 8px);
        }
    }
}