.box {
    border-radius: 8px;
    border: 1px solid $colorTealLight;
    overflow: hidden;
    
    &.box-white {
        border: 1px solid $colorWhite;
    }
    .header {
        color: $colorWhite;
        background-color: $colorTealLight;
        padding: 12px;
        font-weight: 500;
        font-size: 18px;
        text-align: center;
    }
    .content {
        padding: 16px;
    }
}