.card {
	border-radius: 8px;

    &.card-primary {
        border-color: $colorTealLight;
        
        .card-header {
            background-color: $colorTealLight;
            color: $colorWhite;
        }
    }
    
    .card-header {
        font-size: 18px;
        text-align: center;
        font-weight: 500;
        padding: 16px;
        border-radius: 6px 6px 0 0;
    }
}