@font-face {
    font-family: 'Neue Haas Unica Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../assets/fonts/neue-haas-unica-pro/NeueHaasUnicaPro-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Neue Haas Unica Pro';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../assets/fonts/neue-haas-unica-pro/NeueHaasUnicaPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Neue Haas Unica Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/neue-haas-unica-pro/NeueHaasUnicaPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Neue Haas Unica Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/neue-haas-unica-pro/NeueHaasUnicaPro-Medium.ttf') format('truetype');
}