body.ios {
    padding-top: 44px;

    #header {
        top: 44px
    }
    #root .full-only {
        background-image: none;
        background-color: $colorTealLight;
    }
    #accounts_modal {
        width: 100%;
        left: 0;
        padding: 8px;
    
        .modal-header {
            border: 1px solid transparent;
       }
    }
    #bordered_content {
        padding: 16px 16px 94px;
        height: calc(100% - 168px);
        top: 168px;
    
        &.smaller {
            height: calc(100% - 300px);
            top: 300px;
            padding-top: 40px;
        }
    
        &.medium {
            height: calc(100% - 200px);
            top: 200px;
        }
        
    }
    #full_page,
    #bordered_content {
        position: absolute;
    }
    #full_page {
        height: calc(100% - 44px);
    
        .content {
            height: calc(100% - 60px);
    
            &.full-content {
                height: 100%;
                padding-top: 80px;
            }
        }
    }
    #staking_intro .step {
        padding-top: 140px
    }

    #init_screen {
        .init-logo {
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            margin: auto;
            width: 30%;
        }
    }

    #main_footer,
    .footer {
        position: fixed;
        bottom: 24px;

        &.double-footer {
            bottom: 86px;
        }
    }
}