.notification {
    background: $colorWhite !important;
    border: 1px solid $colorLightestGray !important;
    box-shadow: 0 3px 4px rgb(17 20 30 / 0.18), 0 2px 3px rgb(17 20 30 / 0.08) !important;
    border-radius: 8px !important;
    max-width: 100% !important;
    width: calc(100% - 28px) !important;
    color: $colorTealLight !important;
    padding: 24px 12px !important;
    font-size: 16px !important;
    user-select: none !important;

    &.notification-info .icon {
        color: $colorTealLighter;
    }
    &.notification-success .icon {
        color: $colorGreenElectric2;
    }
    &.notification-error .icon {
        color: $colorDanger2;
    }
    
    .icon {
        font-size: 26px;
    }
}