#apy_info {
    width: 112px;
    height: 112px;
    margin: 0 auto;
    border: 1px solid $colorWhite;
    border-radius: 56px;
    padding-top: 24px;

    .text {
        font-weight: 500;
        margin-top: -6px;
    }
}
#staking_intro {
    .step {
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 60px;

        &.step-active {
            pointer-events: auto;
        }

        .image {
            opacity: 0;
            height: 260px;
            text-align: center;

            svg {
                width: 90%;
                height: 100%;
            }
        }

        .info {
            .step-number {
                opacity: 0;
                display: block;
                width: 24px;
                height: 24px;
                line-height: 22px;
                border-radius: 12px;
                border: 1px solid $colorWhite;
                margin: 8px auto 12px;
            }
            h3 {
                opacity: 0;
            }
            p {
                opacity: 0;
                padding: 0 16px;
                min-height: 86px;
                height: 16vh;
            }
            .btn {
                opacity: 0;
            }
        }
    }
    .dots {
        opacity: 0;
        position: fixed;
        bottom: 60px;
        left: 0;
        width: 100%;
        text-align: center;

        .dot {
            position: relative;
            display: inline-block;
            margin-left: 30px;
            margin-right: 30px;
            background-color: $colorWhite;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            z-index: 99;
            transition: all ease-in-out 0.4s;

            &:after {
                position: absolute;
                top: -4px;
                left: -4px;
                width: 16px;
                height: 16px;
                border-radius: 8px;
                border: 1px solid $colorWhite;
                content: "";
                transition: all ease-in-out 0.4s;
            }

            &.dot-active {
                background-color: $colorGreenElectric;
            
                &:after {
                    border-color: $colorGreenElectric;
                }
                
                .dot-line {
                    background-position: left;
                }
            }
            
            .dot-line {
                position: absolute;
                top: 3px;
                left: -60px;
                width: 56px;
                height: 1px;
                background: linear-gradient(to left, $colorWhite 50%, $colorGreenElectric 50%) right;
            
                transition: all ease-in-out 0.4s;
                background-size: 200% 100%;
                z-index: 1;
            }
        }
    }
}
#staking_collators {
    position: relative;
    height: 100%;

    .btn {
        transition: all linear 0.2s;
        border-bottom: 2px solid $colorWhite !important;
    
        &:hover .badge,
        &:active .badge,
        &:focus .badge,
        &.active .badge {
            background-color: $colorTealLight;
            color: $colorWhite;
        }
        &.active {
            border-bottom: 2px solid $colorTealLight !important;
        }

        .badge {
            margin-left: 4px;
            transition: all linear 0.1s;
        }
    }
    .slide {
        position: absolute;
        top: 40px;
        opacity: 0;
        width: 100%;
        height: calc(100% - 100px);
        pointer-events: none;

        &.active {
            pointer-events: auto;
        }
    }
    .staking-info {
        background-color: $colorTealLight;
        color: $colorWhite;
        padding: 8px;
        width: 100%;
        border-radius: 8px;
        height: 70px;
        margin-top: 8px;
    }
    .list-header {
        padding: 8px 0;
        font-size: 10px;
        font-weight: 500;
        color: $colorBlueGray;
    }
    .collator-list {
        height: calc(100% - 106px);
        overflow: hidden;
        overflow-y: auto;
        padding-right: 8px;
        padding-bottom: 8px;

        .button-item {
            position: relative;

            .jdenticon {
                text-align: center;
                width: 70px;
            }
            .collator-name {
                position: absolute;
                top: 12px;
                left: 70px;
            }
        }
    }
}
#amounts .collator-image {
    position: absolute;
    top: -41px;
    left: calc(50% - 41px);
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 10px;
    background-color: $colorWhite;
    border-radius: 40px;
    border: 2px solid $colorTealLight;
}
#staking_info {
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 100%;
    padding: 0 22px;
}
#asset_info .selected .asset-icon {
    &.animate-in svg {
        transform: rotateY(0deg);
    }
    &.animate-out svg {
        transform: rotateY(90deg);
    }

    svg {
        transition: all ease-out 0.3s;
        transform: rotateY(-90deg);
    }
}