// colors
$colorAlertDanger: #6c1301;
$colorAlertWarning: #dc6803;
$colorAlertWarning1: #b05200;
$colorBadge: #ab1f01;
$colorBlack: #000000;
$colorBlueDark: #24293a;
$colorBlueGray: #667085;
$colorBlueGrayDark: #4f586e;
$colorBurntOrange: #991900;
$colorDark: #181818;
$colorDanger: #661100;
$colorDanger1: #cc2400;
$colorDanger2: #f53400;
$colorDanger2Active: #e12e00;
$colorErrorActive: #d22e03;
$colorGray: #8c92a1;
$colorGrayLight: #b1b4bd;
$colorGrayDark: #383a41;
$colorGreenElectric: #c0ff00;
$colorGreenElectric1: #a9e208;
$colorGreenElectric2: #9ecc00;
$colorInfo: #cc8800;
$colorLightestGray: #f8f8f9;
$colorLightGray: #d9d9d9;
$colorLightGray1: #d5d6da;
$colorSuccess: #039855;
$colorTealDark: #133948;
$colorTealDarker: #19363d;
$colorTealDarkest: #0c232d;
$colorTealMedium: #2a4e57;
$colorTealLight: #224851;
$colorTealLighter: #026aa2;
$colorWhite: #ffffff;
$colorWhiteish: #f2f4f7;
$colorWhiteish1: #e4e7ec;
$colorWhiteishGreen: #e9f2d9;

$colorTransDark: #16161638;