html {
    background: linear-gradient(to bottom, #224851, #133948)
}

body.macos {
    position: fixed;
}

body.app {
    position: relative;
    height: 100vh;
    min-height: 400px;
    transition: all ease-out 0.33s;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}
body.app * {
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
}
body.app #login_screen {
    position: absolute !important;
    width: 100vw;
    background-color: transparent;
}
body.app #login_screen:after {
    background: linear-gradient(to bottom, #224851, #133948);
    content: "";
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 98;
}
body.app #init_screen {
    position: fixed;
    overflow: hidden;
    background: linear-gradient(to bottom, #224851, #133948);
}
body.app #init_screen .init-logo {
    position: fixed;
    bottom: auto;
    top: 300px;
}
body.app #full_page,
body.app #heading,
body.app #bordered_content {
    position: absolute;
    width: 100vw;
}
body.app #bordered_content {
    overflow: auto;
    overflow-x: hidden;
}
body.app.keyboard-opened #bordered_content {
    padding-bottom: 16px;
}
body.app #bordered_content.no-overflow {
    overflow: unset;
}
body.app #main_footer,
body.app .footer {
    position: absolute;
    width: calc(100vw - 32px);
    left: 16px;
}
body.app.keyboard-opened .footer {
    bottom: 8px !important;
}
body.app .footer {
    bottom: 8px;
    pointer-events: none;
}
body.app .footer > div {
    pointer-events: all;
}
body.app .footer.double-footer {
    bottom: 86px;
}
body.app #accounts_modal {
    padding-top: 50px !important;
}
body.app #staking_intro .dots {
    top: auto;
    bottom: 120px;
}
body.app #staking_info {
    padding: 0 16px;
    bottom: 100px;
}
body.app #root .full-only {
    background: linear-gradient(to bottom, #224851, #133948);
}
body.app #main_footer.disabled {
    pointer-events: none !important;
}

body.ios {
    padding-top: 44px;
}
body.ios #header {
    top: 44px
}
body.ios #root .full-only {
    background-image: none;
    background-color: #224851;
}
body.ios #accounts_modal {
    width: 100%;
    left: 0;
    padding: 8px;
}
body.ios #accounts_modal .modal-header {
     border: 1px solid transparent;
}
body.ios #bordered_content {
    padding: 16px 16px 94px;
    height: calc(100% - 168px);
    top: 168px;
}
body.ios #bordered_content.smaller {
    height: calc(100% - 300px);
    top: 300px;
    padding-top: 40px;
}
body.ios #bordered_content.medium {
    height: calc(100% - 200px);
    top: 200px;
}
body.ios #full_page {
    height: calc(100% - 44px);
}
body.ios #full_page .content.full-content {
    height: 100%;
    padding-top: 80px;
}
body.ios #staking_intro .step {
    padding-top: 140px
}
body.ios #main_footer,
body.ios .footer {
    bottom: 24px;
}
body.ios #full_page .content {
    height: calc(100% - 60px);
}

body.android #bordered_content {
    padding: 16px 16px 94px;
    height: calc(100% - 124px);
}