@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon/icomoon.eot?cvsohp');
  src:  url('../assets/fonts/icomoon/icomoon.eot?cvsohp#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon/icomoon.ttf?cvsohp') format('truetype'),
    url('../assets/fonts/icomoon/icomoon.woff?cvsohp') format('woff'),
    url('../assets/fonts/icomoon/icomoon.svg?cvsohp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-transfers:before {
  content: "\e90f";
}
.icon-cog-t:before {
  content: "\e932";
}
.icon-code:before {
  content: "\e930";
}
.icon-co2-circle:before {
  content: "\e921";
}
.icon-b-circle:before {
  content: "\e922";
}
.icon-arrow-right-2:before {
  content: "\e931";
}
.icon-click-radial:before {
  content: "\e91b";
}
.icon-drag:before {
  content: "\e91c";
}
.icon-retired-outline:before {
  content: "\e923";
}
.icon-other:before {
  content: "\e912";
}
.icon-impact-outline:before {
  content: "\e924";
}
.icon-impact:before {
  content: "\e913";
}
.icon-down-arrow:before {
  content: "\e92f";
}
.icon-up-arrow:before {
  content: "\e92e";
}
.icon-circle:before {
  content: "\e911";
}
.icon-hashtag:before {
  content: "\e90b";
}
.icon-wallet-outline:before {
  content: "\e92b";
}
.icon-trash:before {
  content: "\e927";
}
.icon-save:before {
  content: "\e928";
}
.icon-pen:before {
  content: "\e91e";
}
.icon-wallet:before {
  content: "\e91d";
}
.icon-left-arrow:before {
  content: "\e90c";
}
.icon-success:before {
  content: "\e903";
}
.icon-network:before {
  content: "\e929";
}
.icon-unknown:before {
  content: "\e919";
}
.icon-known:before {
  content: "\e91a";
}
.icon-retired:before {
  content: "\e914";
}
.icon-carbon:before {
  content: "\e915";
}
.icon-alert:before {
  content: "\e904";
}
.icon-ecosystem:before {
  content: "\e905";
}
.icon-add-plus:before {
  content: "\e92d";
}
.icon-globe:before {
  content: "\e92a";
}
.icon-cart:before {
  content: "\e925";
}
.icon-history:before {
  content: "\e906";
}
.icon-ecosystem-n:before {
  content: "\e933";
}
.icon-history-n:before {
  content: "\e934";
}
.icon-copy-bordered:before {
  content: "\e935";
}
.icon-warning:before {
  content: "\e91f";
}
.icon-b:before {
  content: "\e916";
}
.icon-import:before {
  content: "\e907";
}
.icon-save1:before {
  content: "\e92c";
}
.icon-calendar:before {
  content: "\e926";
}
.icon-copy:before {
  content: "\e908";
}
.icon-cog:before {
  content: "\e909";
}
.icon-plus:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90e";
}
.icon-password:before {
  content: "\e901";
}
.icon-cicircle:before {
  content: "\e920";
}
.icon-right-up-arrow:before {
  content: "\e917";
}
.icon-left-down-arrow:before {
  content: "\e918";
}
.icon-close-circle:before {
  content: "\e910";
}
.icon-arrows:before {
  content: "\e90a";
}
.icon-right-arrow:before {
  content: "\e900";
}
