@charset "UTF-8";
@font-face {
    font-family: 'Neue Haas Unica Pro';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../assets/fonts/neue-haas-unica-pro/NeueHaasUnicaPro-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Neue Haas Unica Pro';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../assets/fonts/neue-haas-unica-pro/NeueHaasUnicaPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Neue Haas Unica Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/neue-haas-unica-pro/NeueHaasUnicaPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Neue Haas Unica Pro';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/neue-haas-unica-pro/NeueHaasUnicaPro-Medium.ttf') format('truetype');
}

@keyframes beat-fade {
    0%, to {
        color: #FFFFFF;
        fill: #FFFFFF;
        transform: scale(1)
    }
    50% {
        color: #F8F8F9;
        fill: #F8F8F9;
        transform: scale(1.125)
    }
}
@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

@keyframes rotation {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

* {
    font-family: "Neue Haas Unica Pro", sans-serif !important;
}

body {
    font-family: 'Neue Haas Unica Pro', sans-serif;
    width: 400px;
    min-height: 600px;
    height: 100%;
    color: #181818;
    font-size: 14px;
    line-height: 14px;
    overflow: hidden;
    background-color: #224851;
}
h1 {
    font-weight: 500;
    font-size: 24px;
    color: #181818;
}
h2 {
    font-weight: 500;
    font-size: 22px;
    color: #181818;
}
h3 {
    font-weight: 500;
    font-size: 18px;
    color: #181818;
}
h4 {
    font-weight: 500;
    font-size: 16px;
    color: #181818;
}
h5 {
    font-weight: 500;
    font-size: 14px;
    color: #181818;
}
h6 {
    font-weight: 400;
    font-size: 12px;
    color: #181818;
}
p {
    line-height: 18px;
    margin-bottom: 0;
}
.text-white {
    color: #ffffff !important;
}
.text-light-gray {
    color: #d5d6da;
}
.text-gray {
    color: #667085;
}
.text-disabled {
    color: #8C92A1 !important;
}
.text-green {
    color: #9ECC00;
}
.text-dark {
    color: #181818;
}
.text-small {
    font-size: 13px;
}
.text-bigger {
    font-size: 16px;
}
.text-very-small {
    font-size: 11px;
}
.text-grotesk {
    font-weight: 300;
}
.text-bold {
    font-weight: 500;
}
.text-grotesk.text-bold {
    font-weight: 500;
}
.text-right {
    text-align: right;
}
.select-none {
    user-select: none;
}
.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-radius: 0;
    padding: 10px 18px;
    box-shadow: none !important;
}
.btn * {
    pointer-events: none !important;
}
.btn.btn-hidden {
    pointer-events: none;
}
.btn.btn-sm {
    padding: 4px 12px;
    font-size: 14px;
    line-height: 22px;
    min-height: 40px;
}
.btn.btn-xs {
    padding: 4px 6px;
    font-size: 12px;
    line-height: 22px;
    min-height: 30px;
}
.btn-primary {
    background-color: #C0FF00;
    border-color: #C0FF00;
    color: #181818;
}
.btn-primary:hover, .btn-primary:active {
    background-color: #A9E208 !important;
    border-color: #A9E208 !important;
    color: #181818 !important;
}
.btn-danger {
    background-color: #F53400;
    border-color: #F53400;
    color: #FFFFFF;
}
.btn-danger:hover, .btn-danger:active {
    background-color: #e12e00 !important;
    border-color: #e12e00 !important;
    color: #FFFFFF !important;
}
.btn-dark {
    background-color: #224851;
    border-color: #224851;
    color: #ffffff;
}
.btn-dark:hover, .btn-dark:active {
    background-color: #19363d !important;
    border-color: #19363d !important;
    color: #ffffff !important;
}
.btn-secondary-outline {
    background-color: #F8F8F9;
    border-color: #224851;
    color: #181818;
}
.btn-secondary-outline:hover, .btn-secondary-outline:active {
    background-color: #D5D6DA !important;
    border-color: #224851 !important;
    color: #181818 !important;
}
.btn-secondary {
    background-color: #224851;
    border-color: #224851;
    color: #ffffff;
}
.btn-secondary:hover, .btn-secondary:active {
    background-color: #19363d !important;
    border-color: #19363d !important;
    color: #ffffff !important;
}
.btn-text {
    background-color: transparent;
    border: none !important;
    color: #181818;
}
.btn-text:hover, .btn-text:active {
    color: #0c0c0c;
}
.btn-text.btn-bordered {
    border: 1px solid #D5D6DA !important;
}
.btn-text.btn-bordered:hover, .btn-text.btn-bordered:active {
    border: 1px solid #B1B4BD !important;
}
.btn.disabled {
    background-color: #D5D6DA !important;
    pointer-events: none;
    opacity: .65;
    border-color: transparent !important;
    color: #181818 !important;
}
.btn.btn-rounded {
    border-radius: 4px;
}
.rounded-left {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.rounded-right {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.btn .icon {
    font-size: 14px;
    margin-left: 8px;
    min-width: 20px;
}
.btn .icon.icon-left {
    margin-left: 0;
    margin-right: 8px;
}
.btn .icon.icon-large {
    font-size: 18px;
}
.btn.btn-sm .icon {
    font-size: 12px;
    margin-left: 6px;
    min-width: 18px;
}
.btn.btn-sm .icon.icon-left {
    margin-left: 0;
    margin-right: 6px;
}
.btn.btn-sm .icon.icon-large {
    font-size: 16px;
}
.btn-error {
    color: #F53400;
}
.btn-error:hover, .btn-error:active {
    color: #d22e03 !important;
}
.click {
    cursor: pointer !important;
}
.alert {
    padding: 0;
}
.alert-danger {
    background-color: #ffffff;
    border-color: #991900;
    color: #991900;
}
.alert-warning {
    background-color: #ffffff;
    border-color: #DC6803;
    color: #DC6803;
}
.alert .icon {
    width: 60px;
    color: #ffffff;
    text-align: center;
}
.alert.alert-danger .icon {
    background-color: #991900;
}
.alert.alert-warning .icon {
    background-color: #DC6803;
}
.alert .icon span {
    width: 100%;
    font-size: 26px;
}
label.label {
    font-weight: 500;
    font-size: 16px;
    margin: 6px 0 10px 0;
}
.form-group {
    border: 1px solid #D5D6DA;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05) !important;
}
.form-group.custom-border {
    border: none;
    box-shadow: none !important;
}
.form-group.custom-border .input-group-text.rounded-left {
    border-top: 1px solid #D5D6DA;
    border-left: 1px solid #D5D6DA;
    border-bottom: 1px solid #D5D6DA;
}
.form-group.custom-border .form-control {
    border-top: 1px solid #D5D6DA;
    border-bottom: 1px solid #D5D6DA;
}
.form-group .form-control {
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
    padding-left: 0;
    background-color: #FFFFFF !important;
    font-size: 14px;
}
.form-group .form-control.form-control-sm {
    font-size: 12px;
}
.form-group .input-group-text {
    background-color: #ffffff;
    border-radius: 0;
    border: 0;
    font-size: 12px;
    padding: 0;
}
.form-group .input-group-text.transparent {
    background-color: transparent;
}
.form-group .input-group-text.bigger {
    font-size: 16px;
}
.form-group .input-group-text .icon {
    width: 48px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}
.form-switch {
    margin: 12px 0;
}
.form-switch .form-check-input {
    border-radius: 12px;
    width: 44px;
    height: 24px;
    border: none !important;
    margin-top: 0;
    margin-right: 12px;
    background-color: #F8F8F9 !important;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba%28255, 255, 255, 1%29'/></svg>") !important;
    outline: none !important;
    box-shadow: none !important;
    filter: none !important;
    transition: all linear 0.2s;
}
.form-switch .form-check-input:checked {
    background-color: #C0FF00 !important;
}
.form-switch .form-check-input.darker {
    background-color: #D5D6DA !important;
}
.form-switch .form-check-input.darker:checked {
    background-color: #A9E208 !important;
}
.form-switch .form-check-label {
    height: 24px;
    line-height: 24px;
    user-select: none;
}
.form-switch .form-check-label h4 {
    height: 24px;
    line-height: 24px;
}
.badge {
    font-weight: 500;
}
.badge.hidden {
    display: none !important;
}
.badge.badge-rounded {
    height: 18px;
    line-height: 16px;
    border-radius: 8px;
    padding: 0 8px;
}
.badge.badge-primary {
    background-color: #C0FF00;
    color: #263300;
}
.badge.badge-secondary {
    background-color: #224851;
    color: #FFFFFF;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    padding: 8px 8px 8px 16px;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}
#header.visible {
    opacity: 1;
    pointer-events: auto;
}
#header #top_logo svg {
    transition: all ease-out 0.3s;
}
#header #top_logo svg:hover {
    transform: scale(1.1);
}
#header #top_logo.full svg:hover {
    transform: scale(1);
}
#header #top_logo .full-logo,
#header #top_logo.full .b-logo {
    position: absolute;
    display: none !important;
}
#header #top_logo.full .full-logo {
    position: relative;
    display: block !important;
}
#header #actions svg {
    margin: 0 8px;
}
#header #actions #go_copy {
    transition: all ease-out 0.22s;
}
#header #actions #go_copy:hover {
    transform: scale(1.15);
}
#header #actions #go_settings {
    transition: all ease-out 0.22s;
}
#header #actions #go_settings:hover {
    transform: rotate(45deg) scale(1.1);
}
#login_screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;

    z-index: 9999;
}
#login_screen.fade-out {
    opacity: 0;
    transition: all ease-in 0.3s;
}
#login_screen.inactive {
    display: none !important;
    z-index: -1;
}
#init_screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;

    z-index: 9999;
}
#init_screen.fade-out {
    opacity: 0;
    transition: all ease-in 0.3s;
}
#init_screen.inactive {
    display: none !important;
    z-index: -1;
}
#init_screen .init-logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    width: 102px;
    height: 128px;

    background-image: url('../assets/b.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#init_screen.fade-out .init-logo {
    transform: scale(30);
    transition: all linear 1.5s;
}
#loading_content {
    position: absolute;
    left: 0;
    top: 16px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 80px;
    background-color: #FFFFFF;
    transition: all linear 0.2s;
    visibility: hidden;
    opacity: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    z-index: 98;
}
#loading_content.active {
    opacity: 1;
    visibility: visible;
}
#loading_content .bbb-icon {
    font-size: 42px;
    animation-name: beat-fade;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.4, 0, .6, 1);
    animation-duration: 2s;

    fill: #F8F8F9;
}
#loading_content .bbb-icon path {
    stroke: #C0FF00;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;

    animation-name: dash;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}
#loading_content #content {
    position: relative;
    display: block;
    width: 100%;
    min-height: 200px;
}
#loading_content #content .init {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transition: all ease-in-out 0.4s;
}
#loading_content #content .done {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: all ease-in-out 0.4s;

    opacity: 0;
}
#loading_content #content .done.active {
    opacity: 1;
}
#loading_content .text {
    width: 100%;
    text-transform: uppercase;
    color: #667085;
    font-weight: 500;
    font-size: 10px;
    text-align: center;
    padding-top: 16px;
}
#loading_content.circle .text {
    color: #224851;
    font-size: 20px;
    text-transform: capitalize;
}
#loading_content .desc {
    font-weight: 400;
    font-size: 14px;
    padding: 12px 56px;
    color: #667085;
}
#loading_content #loading_circle {
    animation: rotation 3.333s linear infinite;
}
#loading_content #checkmark {
    position: absolute;
    top: 148px;
    left: calc(50% - 22px);
    opacity: 0;

    transition: all ease-in-out 0.4s;
}
#loading_content.done #loading_circle {
    animation: none;
}
#loading_content #checkmark.show {
    opacity: 1;
}

#root {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}
#root .full-only {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    z-index: -1;
}
#root.freeze * {
    pointer-events: none !important;
}
#root.init {
    opacity: 1;

    transition: all ease-in-out 0.4s;
}

.bitgreen-svg {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: auto;
}

.separator {
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 2px;
    background: #ffffff;
}
.separator-line {
    margin: 0 auto 8px;
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
}

.browser-wallet {
    position: absolute;
    top: 260px;
    left: 0;
    right: 0;
    margin: auto;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    user-select: none !important;
}
.animated {
    transition: all linear 0.2s;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
#get_started {
    position: absolute;
    top: 380px;
    left: 0;
    right: 0;
    width: 150px;
    margin: auto;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

#heading {
    position: relative;
    display: block;
    width: 100%;
    height: 140px;
    padding: 60px 16px 16px 16px;
    user-select: none;
}
#heading.custom-header {
    padding: 0;
}
#heading.bigger {
    height: 230px;
}
#heading.medium {
    height: 165px;
}
#heading #logo {
    display: inline-block;
    float: left;
}
#heading .content {
    padding-top: 22px;
}
#heading.custom-header .heading {
    width: 100%;
    height: 60px;
    padding: 12px 24px 12px 24px;
    background-color: transparent;
    color: #ffffff;
}
#heading.custom-header .fixed-title {
    position: absolute;
    left: 0;
    bottom: 22px;
}
#go_back {
    min-width: 40px;
    text-align: center;
    font-size: 18px;
    transition: all linear 0.2s;
}
#go_back:hover {
    transform: translateX(-4px);
}
#go_back .text {
    display: inline-block;
    margin-left: 12px;
    font-weight: 500;
    transition: all linear 0.2s;
    user-select: none;
}
#go_back:hover .text {
    transform: translateX(4px);
}
#heading.custom-header .heading h3 {
    width: 100%;
    margin: 0;
    text-align: center;
    color: #ffffff;
}
#bordered_content {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;

    width: 100%;
    height: calc(100% - 140px);

    padding: 16px 16px 76px;

    background-color: #ffffff;
    border-radius: 16px 16px 0 0;
}
#bordered_content.smaller {
    top: 254px;
    height: calc(100% - 254px);
    padding-top: 34px;
}
#bordered_content.medium {
    top: 165px;
    height: calc(100% - 165px);
    padding-top: 20px;
}
#wallet_list {
    height: 100%;
    overflow-y: scroll;
    padding-right: 8px;
    padding-bottom: 8px;
}
#wallet_list.backup-list {
    height: calc(100% - 130px);
}
#wallet_list .button-item {
    min-height: 82px;
}
#bordered_content #top_items {
    position: absolute;
    top: -18px;
    left: 12px;
    right: 0;
    width: 100%;
    text-align: center;
}
#bordered_content #top_items button {
    width: 144px;
    border-radius: 4px;
    height: 36px;
    line-height: 20px;
    padding: 0;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.1);
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0;
}
#bordered_content #top_items button .icon {
    font-size: 14px;
}
#current_wallet {
    position: relative;
    width: 100%;
    margin-right: 8px;
    padding: 6px 0 6px 10px;
    z-index: 999;
    cursor: pointer;
    user-select: none !important;
}
#current_wallet.active:after {
    border-radius: 8px 8px 0 0;
}
#current_wallet.hidden {
    width: 0;
}
#current_wallet .jdenticon,
#current_wallet .jdenticon svg {
    min-width: 32px;
    min-height: 32px;
    width: 32px;
    height: 32px;
}
#current_wallet .jdenticon {
    position: relative;
    margin-right: 8px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.22);
}
#current_wallet .jdenticon svg {
    position: absolute;
}
#current_wallet .info {
    color: #ffffff;
    font-size: 12px;
    width: 100%;
}
#current_wallet .info .desc {
    display: block;
    font-size: 14px;
    width: 100%;
    margin-top: 2px;
    font-weight: 500;
}
#current_wallet .info .desc .icon {
    margin: 0 4px 0 0;
    color: #9ECC00;
}
#current_wallet .icon {
    font-size: 6px;
    margin-left: 4px;
    margin-right: 4px;
    color: #B1B4BD;
}
#current_wallet .icon.icon-down-arrow {
    width: 20px;
    margin: 0 8px 0 0;
    text-align: center;
    transition: all linear 0.2s;
}
#current_wallet.active .icon.icon-down-arrow {
    transform: scaleY(-1);
}
#current_wallet .dropdown {
    position: absolute;
    width: 100%;
    max-height: 136px;
    top: 44px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    overflow: auto;
    overflow-x: hidden;
    backdrop-filter: blur(8px);
    background-color: rgba(44, 44, 44, 0.3);
    border: 1px solid rgba(22, 22, 22, 0.3);
    border-top: none;
    border-radius: 0 0 4px 4px;

    transition: all linear 0.2s;

    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);

    z-index: -1;
}
#current_wallet.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
#current_wallet .dropdown::-webkit-scrollbar {
    width: 12px;
}
#current_wallet .dropdown::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}
#current_wallet .dropdown::-webkit-scrollbar-thumb {
    background: rgba(22, 22, 22, 0.50);
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: padding-box;
}
#current_wallet .dropdown::-webkit-scrollbar-thumb:hover {
    background: rgba(22, 22, 22, 0.60);
    border: 4px solid transparent;
    background-clip: padding-box;
}
#current_wallet .dropdown .wallet {
    padding: 6px 10px;
    margin-right: -16px;
}
#current_wallet .dropdown .wallet:hover {
    background: linear-gradient(to right, #16161638 0%, #16161638 70%, transparent 90%, transparent 100%);
}
.button-item {
    width: 100%;
    min-height: 85px;
    background-color: #ffffff;
    margin-bottom: 15px;

    box-shadow: 0 1px 3px rgba(17, 20, 30, 0.1), 0 1px 2px rgba(17, 20, 30, 0.06);
    border-radius: 4px;
    cursor: pointer;
    transition: all linear 0.3s;
    user-select: none;
    overflow: hidden;
}
.button-item.disabled {
    cursor: auto !important;
}
.button-item.click-only * {
    pointer-events: none !important;
}
.button-item:hover {
    box-shadow: 0 3px 4px rgb(17 20 30 / 18%), 0 2px 3px rgb(17 20 30 / 8%);
    transition: box-shadow linear 0.1s;
}
.button-item .icon {
    width: 60px;
    font-size: 18px;
}
.button-item svg {
    width: 56px;
    height: 56px;
    padding: 0 8px;
}
.button-item.button-gray {
    background-color: #F8F8F9;
}
.button-item.settings-item {
    cursor: auto;
    box-shadow: none !important;
    min-height: 45px;
    height: auto;
    margin-bottom: 8px;
}
.button-item.settings-item .icon {
    transition: all linear 0.1s;
    transform: translateX(-4px);
    width: 15px;
    font-size: 12px;
}
.button-item.settings-item.click:hover .icon {
    transform: translateX(0px);
}
.button-item.settings-item select {
    width: 120px;
    outline: none !important;
    border-radius: 0 !important;
    border: 1px solid #E4E7EC !important;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05) !important;
}
.button-item.tab-item {
    padding: 4px 0;
    border-radius: 8px;
    opacity: 0;
    height: 114px;
    margin-bottom: 12px;
    border: 2px solid transparent;
    transition: border-color linear 0.1s;
}
.button-item.tab-item:hover {
    box-shadow: 0 1px 3px rgba(17, 20, 30, 0.1), 0 1px 2px rgba(17, 20, 30, 0.06);
    border-color: #224851;
}
.button-item.tab-item .icon {
    display: block;
    width: 100%;
    height: 52px;
    line-height: 42px;
    font-size: 36px;
    text-align: center;
}
.button-item.tab-item .title {
    width: 100%;
    height: 26px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #224851;
}
.button-item.tab-item .pill {
    width: calc(100% - 12px);
    margin-left: 6px;
    margin-right: 6px;
    height: 22px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #224851;
    background-color: #FFFFFF;
    border-radius: 12px;
}
.button-item.tab-item.disabled .title {
    color: #8C92A1;
}
.button-item.tab-item.disabled .pill {
    color: #FFFFFF;
    background-color: #8C92A1;
}
.button-item.transaction-item {
    min-height: 65px;
    height: 65px;
    overflow: hidden;

    transition: all ease-in-out 0.2s;
}
.button-item.transaction-item.active {
    min-height: 265px;
}
.button-item.transaction-item .status {
    position: relative;
    text-align: center;
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #F8F8F9;
    color: #4F586E;
    font-size: 16px;
    font-weight: 500;
    border-radius: 16px;
    padding-left: 2px;
    margin: 0 8px 0 16px;

    transition: all ease-in-out 0.1s;
}
.button-item.transaction-item .status.success {
    background-color: #039855;
    color: #ffffff;
}
.button-item.transaction-item .status.success .icon {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 12px;
    width: 100%;
    height: 100%;
}
.button-item.transaction-item .transaction-info {
    width: 90%;
    padding-right: 40px;
    min-height: 65px;
}
.button-item.transaction-item .transaction-info .icon,
.button-item.transaction-item .transaction-info .amount,
.button-item.transaction-item .transaction-info .amount .digits {
    text-align: center;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    margin-bottom: 2px;
}
.button-item.transaction-item .transaction-info .icon {
    padding: 0;
    text-align: center;
    font-size: 18px;
    color: #039855;
}
.button-item.transaction-item .transaction-info .desc {
    color: #667085;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}
.button-item.transaction-item .transaction-info .token-amount {
    width: 100px;
}
.button-item.transaction-item .transaction-info .col {
    padding: 0 2px;
    max-width: 64px;
}
.button-item.transaction-item .transaction-info .icon.icon-success {
    color: #039855;
}
.button-item.transaction-item .transaction-info .icon.icon-error {
    color: #CC2400;
}
.button-item.transaction-item .transaction-info .amount {
    font-size: 20px;
}
.button-item.transaction-item .transaction-info .amount .digits {
    font-size: 14px;
    padding-top: 4px;
}
.button-item.transaction-item .icon.icon-right {
    transition: all linear 0.1s;
    transform: translateX(-4px);
    min-width: 40px;
    width: 40px;
    font-size: 8px;
    text-align: center;
}
.button-item.transaction-item.active .icon.icon-right {
    transform: scaleY(-1) translateX(-4px);
}
.button-item.transaction-item.click:hover .icon.icon-right {
    transform: translateX(0px);
}
.button-item.transaction-item .transaction-details {
    background: #F8F8F9;
    height: 200px;
    padding: 16px;
    overflow: hidden;
    cursor: default;
    transition: all 0.3s;
}
.button-item.transaction-item .transaction-details h4 {
    margin: 0;
    color: #224851;
}
.button-item.transaction-item .transaction-details .text-small {
    word-break: break-all;
}
.button-item.transaction-item .transaction-details .element {
    margin-bottom: 4px;
}
.button-item.transaction-item .transaction-details .element .icon {
    color: #039855;
}
.button-item.transaction-item .transaction-details .element .icon.icon-cog {
    font-size: 18px;
}
.button-item.transaction-item .transaction-details .element .icon.icon-code {
    font-size: 26px;
}
#transactions {
    height: 345px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 8px;
    padding-bottom: 8px;
}
#transactions.smaller {
    height: 320px;
}
#transactions_end {
    position: absolute;
    margin-top: -45px;
    left: 0;
    width: calc(100% - 30px);
    height: 45px;
    background: linear-gradient(to bottom, transparent 0%, transparent 10%, #FFFFFF 80%, #FFFFFF 100%);
    pointer-events: none;

    z-index: 55;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #F8F8F9;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #E4E7EC;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #B1B4BD;
}
#transactions .button-item {
    height: 65px;
    padding: 0 8px;
    opacity: 0;
    margin-bottom: 10px;
}
#transactions .transaction-info {
    width: 90%;
    padding-right: 40px;
    text-align: center;
    text-transform: uppercase;
}
#transactions .button-item .icon.icon-small {
    width: 10%;
    font-size: 12px;
}
#full_page {
    position: absolute;
    width: 100%;
    height: 100%;
}
#full_page .heading {
    width: 100%;
    height: 60px;
    padding: 12px 64px 12px 24px;
    background-color: #224851;
    color: #ffffff;
    user-select: none;
}
#full_page .heading.equal-padding {
    padding: 12px 24px;
}
#full_page .heading .icon {
    width: 40px;
    text-align: center;
    font-size: 18px;
}
#full_page .heading h3 {
    width: 270px;
    margin: 0;
    text-align: center;
    color: #ffffff;
}
#full_page .content {
    width: 100%;
    height: calc(100% - 60px);
    padding: 16px;
    background-color: #ffffff;
    overflow: auto;
    overflow-x: hidden;
}
#full_page .content.full-content {
    height: 600px;
}
#full_page .content .icon-huge {
    font-size: 53px;
}
#full_page .content .choose-words .btn.btn-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#full_page .content .choose-words .btn.btn-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#full_page .content .help-desc {
    user-select: none !important;
    padding-left: 16px;
    font-weight: 500;
    color: #667085;
}
#full_page .content .mnemonics {
    width: 100%;
}
#full_page .content .mnemonics.mnemonics-hidden {
    user-select: none !important;
}
#full_page .content .mnemonics .word {
    padding: 2px;
    overflow: visible;
}
#full_page .content .mnemonics .word .badge {
    position: relative;
    display: flex;
    border-radius: 8px;
    background-color: #F8F8F9 !important;
    color: #181818 !important;
    padding: 9px 4px 9px 8px;
    z-index: 10;
    transition: all 0.3s;
}
#full_page .content .mnemonics.clickable .word .badge {
    border: 2px solid #ffffff;
}
#full_page .content .mnemonics.clickable .word.selected .badge {
    transform: scale(0.9) !important;
    background-color: #ffffff !important;
    border: 2px dashed #D5D6DA;
    transition: none !important;
}
#full_page .content .mnemonics.clickable .word.selected .index {
    display: none;
}
#full_page .content .mnemonics.clickable .word.selected .remove {
    display: none;
}
#full_page .content .mnemonics.clickable .word:hover {
    cursor: pointer;
}
#full_page .content .mnemonics.clickable .word:hover .badge {
    /*transform: scale(1.07);*/
    border-left-width: 2px;
    border-right-width: 2px;
}
#full_page .content .mnemonics.clickable .word:hover > * {
    pointer-events: none;
    z-index: 99;
}
#full_page .content .mnemonics.clickable .word .badge .remove {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    line-height: 100%;
    font-size: 10px;
    color: #ffffff;
    background-color: #cc2400;
    border-radius: 8px 0 0 8px;
    transition: all linear 0.2s;
    z-index: 99;
    pointer-events: all !important;
    overflow: hidden;
    opacity: 0;
}
#full_page .content .mnemonics.clickable .word .badge .remove span {
    display: block;
    width: 100%;
    text-align: center;
}
#full_page .content .mnemonics.clickable .word .badge .remove:hover > * {
    pointer-events: none;
}
#full_page .content .mnemonics.clickable .word:hover .badge .remove {
    width: 24px;
    opacity: 1;
}
#full_page .content .mnemonics.clickable .word .badge .remove:hover {
    background-color: #ab1f01;
}
#full_page .content .mnemonics.bordered {
    min-height: 38px;
    border: 1px solid #F8F8F9;
    border-radius: 8px;
    padding: 4px;
}
#full_page .content .mnemonics.bordered.bordered-green {
    border-color: #9ECC00;
}
#full_page .content .mnemonics.dragging .word .badge .remove {
    transition: none !important;
    opacity: 0 !important;
}
#full_page .content .mnemonics .word .badge .icon {
    width: 13px;
    font-size: 11px;
    color: #B1B4BD;
}
#full_page .content .mnemonics .word .badge .index {
    font-size: 12px;
    width: 14px;
    line-height: 14px;
    text-align: center;
    color: #B1B4BD;
    user-select: none;
}
#full_page .content .mnemonics .word .badge .text {
    width: 100%;
    text-align: center;
    font-size: 15px;
    text-transform: lowercase;
}
#full_page .content .mnemonics.mnemonics-hidden .word .badge .text {
    color: transparent !important;
    text-shadow: 0 0 4px #B1B4BD;
}
#full_page .content #mnemonics_info {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 12px;
    user-select: none;
}
#full_page .content #mnemonics_info .col-6 {
    padding: 0 8px;
}
#full_page .content #mnemonics_info .icon {
    font-size: 22px;
    margin: 0 12px;
}
#full_page #success_icon {
    margin-top: 90px;
    margin-bottom: 40px;
}
#full_page #message_text {
    margin-bottom: 100px;
}
#full_page #password_input:after {
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 220px;
    content: " ";
    background: linear-gradient(to bottom, transparent 0%, transparent 10%, #FFFFFF 50%, #FFFFFF 100%);
    z-index: 99;
}
#full_page #password_input .w-100 {
    position: relative;
    z-index: 999;
}
#main_footer {
    position: fixed;
    bottom: 8px;
    left: 8px;
    width: calc(100% - 16px);
    background-color: #224851;
    border-radius: 8px;
    padding: 8px;
    opacity: 0;
    z-index: 99;
    pointer-events: none;
}
#main_footer.visible {
    display: block;
    opacity: 1;
    pointer-events: auto;
}
#main_footer .item {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    color: #E9F2D9;
    font-size: 18px;
    transition: all linear 0.15s;
    cursor: pointer;
}
#main_footer .item:hover,
#main_footer .item:focus,
#main_footer .item:active {
    background-color: rgba(192, 255, 0, 0.05);
    color: #C0FF00;
    transition: color linear 0.3s;

}
#main_footer .item:hover svg path,
#main_footer .item:focus svg path,
#main_footer .item:active svg path {
    fill: #C0FF00;
}
#main_footer .item.active {
    background-color: rgba(192, 255, 0, 0.1);
    color: #C0FF00;
}
#main_footer .item.active svg path {
    fill: #C0FF00;
}
/* .item-send is stroke, not a path */
#main_footer .item.item-send:hover svg path,
#main_footer .item.item-send:focus svg path,
#main_footer .item.item-send:active svg path {
    fill: transparent;
    stroke: #C0FF00;
}
#main_footer .item.item-send.active svg path {
    fill: transparent;
    stroke: #C0FF00;
}
.footer-only {
    padding: 16px;
}
.footer {
    position: fixed;
    width: 370px;
    min-height: 65px;
    bottom: 0;
    left: auto;
    right: auto;
    padding-top: 8px;
    padding-bottom: 16px;
    z-index: 99;
    user-select: none;
}
.footer.double-footer {
    bottom: 62px;
}

.info-messages {
    font-weight: 500;
    color: #181818;
}
.info-messages.bigger {
    font-size: 16px;
}
.info-messages .message {
    padding: 4px 0;
}
.info-messages.bigger .message {
    padding: 8px 0;
}
.info-messages .icon {
    display: block;
    width: 18px;
    text-align: center;
    color: #B1B4BD;
    margin-right: 10px;
}
.info-messages.bigger .icon {
    width: 20px;
    margin-right: 12px;
}
.info-messages .icon.icon-success {
    color: #9ECC00;
}
.info-messages .icon.icon-check {
    color: #9ECC00;
}
.info-messages .icon.icon-error {
    color: #F53400;
}
#portfolio {
    position: relative;
    width: 100%;
    height: 164px;
    color: #ffffff;
    padding: 12px 22px 12px 12px;
    opacity: 0;
}
#portfolio:after,
#current_wallet:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    content: " ";
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    opacity: 0.8;
    z-index: -1;
    transition: all linear 0.15s;
}
#current_wallet:hover:after {
    border: 1px solid rgba(255, 255, 255, 0.2);
}
#portfolio:after {
    background-color: rgba(255, 255, 255, 0.1);
}
#portfolio .info {
    padding-left: 12px;
}
#portfolio .info h1,
#portfolio .info p {
    opacity: 0;
}
#portfolio .info .icon {
    display: inline-block;
    margin-right: 8px;
}
#chart .chart-text {
    fill: #FFF;
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
}
#chart .chart-amount {
    font-size: 0.4343em;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}
#chart .chart-amount .amount {
    font-family: 'Neue Haas Unica Pro', sans-serif;
    font-weight: 500;

    padding: 0 1px 4px;
}
#chart .chart-amount .decimals {
    font-family: 'Neue Haas Unica Pro', sans-serif;
    font-weight: 500;
    font-size: 0.5em;

    letter-spacing: -0.05em;
}
#chart .chart-amount .dollar {
    font-family: 'Neue Haas Unica Pro', sans-serif;
    font-weight: 500;
    font-size: 0.6em;

    letter-spacing: -0.05em;
}
#chart .chart-label {
    font-size: 0.18em;
    font-weight: 500;
    text-transform: uppercase;
    text-anchor: middle;
    -moz-transform: translateY(0.7em);
    -ms-transform: translateY(0.7em);
    -webkit-transform: translateY(0.7em);
    transform: translateY(0.7em);
}
#app_info {
    border: 1px solid #991900;
    border-radius: 8px;
    height: 90px;
    margin-bottom: 8px;
}
#app_info.known {
    border: 1px solid #224851;
}
#app_info .left {
    width: 80px;
    height: 90px;
    background-color: #991900;
    padding: 16px 4px 16px 4px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    user-select: none;
}
#app_info.known .left {
    background-color: #224851;
}
#app_info .icon {
    display: none;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 26px;
    padding: 0 25px;
    opacity: 0;
    visibility: hidden;
}
#app_info .icon-unknown {
    display: block;
    opacity: 1;
    visibility: visible;
}
#app_info.known .icon-known {
    display: block;
    opacity: 1;
    visibility: visible;
}
#app_info.known .icon-unknown {
    display: none;
    opacity: 0;
    visibility: hidden;
}
#app_info .message {
    display: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    padding: 6px 6px 10px 6px;
    opacity: 0;
    visibility: hidden;
}
#app_info .message.unknown {
    display: block;
    opacity: 1;
    visibility: visible;
}
#app_info.known .message.known {
    display: block;
    opacity: 1;
    visibility: visible;
}
#app_info.known .message.unknown {
    display: none;
    opacity: 0;
    visibility: hidden;
}
#app_info .right {
    height: 100%;
    color: #991900 !important;
    padding: 8px 12px;
}
#app_info.known .right {
    color: #224851 !important;
}
#app_info h3 {
    font-size: 16px;
    color: #991900 !important;
}
#app_info.known h3 {
    font-size: 16px;
    color: #224851 !important;
}
.custom-dropdown {
    padding: 12px 16px;
    border: 1px solid #D5D6DA !important;
    border-radius: 4px;
    margin-bottom: 8px;
    user-select: none;
    min-height: 66px;
}
.custom-dropdown .icon-wallet-outline {
    margin-right: 4px;
}
.custom-dropdown .icon-down-arrow {
    font-size: 8px;
}
.custom-dropdown .asset-icon {
    width: 54px;
}
.custom-dropdown .name {
    color: #224851;
    font-size: 16px;
    padding: 0 12px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 8px;
}
.custom-dropdown .desc {
    color: #667085;
    font-size: 14px;
    padding: 0 12px;
    font-weight: 400;
    font-style: normal;
}
#choose_quantity {
    margin-bottom: 8px;
}
#choose_quantity .col-4 {
    padding: 0 16px 0 0;
}
#choose_quantity .form-control {
    border: none;
    border-bottom: 3px solid #D5D6DA;
    box-shadow: none !important;
    color: #224851;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    padding: 6px 6px 0;
    transition: all linear 0.2s;
}
#choose_quantity .form-control::-webkit-outer-spin-button,
#choose_quantity .form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#choose_quantity .form-control:focus {
    border-bottom-color: #224851;
}
#choose_quantity .form-control.error {
    border-bottom-color: #F53400;
    color: #F53400;
}
#choose_quantity .equals {
    padding: 0 8px 16px 8px;
    font-size: 32px;
    font-weight: 500;
    color: #D5D6DA;
}
#choose_quantity .label {
    color: #667085;
    font-weight: 500;
    font-size: 14px;
}
#choose_quantity input[type=range] {
    width: 100%;
    margin-top: 8px;
    height: 8px;
    border-radius: 4px;
    background: linear-gradient(to right, #C0FF00 0%, #C0FF00 0%, #F8F8F9 0%, #F8F8F9 100%);
    -webkit-appearance: none;
}
#choose_quantity input[type=range]::-webkit-slider-thumb {
    height: 24px;
    width: 24px;
    background: #FFFFFF;
    -webkit-appearance: none;
    box-shadow: 0 4px 8px -2px rgba(17, 20, 30, 0.1), 0 2px 4px -2px rgba(17, 20, 30, 0.06);
    border-radius: 12px;
}
#max_amount:hover {
    color: #224851;
}
#send_info {
    height: 60px;
    color: #667085;
}
#send_info .info .text {
    font-weight: 500;
}
#send_info .info .separator-line {
    margin: 8px auto;
}
#send_info .error {
    color: #F53400;
    font-weight: 400;
}
#send_info .info,
#send_info .error {
    display: none;
}
#recipient {
    overflow: hidden;
}
#recipient.form-control {
    width: 320px;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    padding: 0;
    border-radius: 4px;
}
#review_transaction {
    padding: 16px;
    margin-bottom: 32px;
    color: #181818;

    user-select: none;
}
#review_transaction .token {
    padding-left: 32px;
}
#review_transaction .estimated_fees {
    padding-right: 32px;
}
#review_transaction .title {
    margin-top: 6px;
    font-family: 'Neue Haas Unica Pro', sans-serif;
    font-weight: 500;
    color: #667085;
    font-size: 14px;
}
#review_transaction .amount {
    font-family: 'Neue Haas Unica Pro', sans-serif;
    font-weight: 500;
    font-size: 26px;

    padding: 0 1px 4px;
}
#review_transaction .decimals {
    font-family: 'Neue Haas Unica Pro', sans-serif;
    font-size: 16px;

    position: relative;
    top: -6px;
    font-weight: 300;

    letter-spacing: -0.05em;
}
#review_transaction .dollar {
    font-family: 'Neue Haas Unica Pro', sans-serif;
    font-weight: 500;
    font-size: 18px;
    /*padding-top: 2px;*/

    letter-spacing: -0.05em;
}
#transaction_info .wallet {
    height: 40px;
    margin-bottom: 30px;
}
#transaction_info .wallet .right {
    padding-left: 8px;
}
#transaction_info .wallet .right .address {
    font-size: 12px;
}
#transaction_info .dot {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #B1B4BD;
    text-align: center;
    margin-top: -18px;
}
#transaction_info .dot:after {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    content: " ";
    background-color: #B1B4BD;
    border-radius: 4px;
}
#transaction_info .dot .dot-line {
    position: absolute;
    bottom: 15px;
    left: 6px;
    width: 2px;
    height: 55px;
    content: " ";
    background-color: #B1B4BD;
    border-radius: 4px;
}
#transaction_info .dot.dot-green {
    border: 1px solid #9ECC00;
}
#transaction_info .dot.dot-green:after {
    background-color: #9ECC00;
}
#transaction_info .dot.dot-green .dot-line {
    background-color: #9ECC00;
}
#qrcode {
    position: relative;
    padding: 16px;
    border: 3px solid #C0FF00;
    margin: 16px 16px 32px;
}
#qrcode * {
    position: relative;
    z-index: 999;
}
#qrcode:after {
    position: absolute;
    content: " ";
    top: -5px;
    left: 32px;
    width: calc(100% - 64px);
    height: calc(100% + 10px);
    background-color: #FFFFFF;
}
#qrcode:before {
    position: absolute;
    content: " ";
    top: 32px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% - 64px);
    background-color: #FFFFFF;
    z-index: 999;
}
.notification {
    background: #FFFFFF !important;
    border: 1px solid #F8F8F9 !important;
    box-shadow: 0 3px 4px rgb(17 20 30 / 0.18), 0 2px 3px rgb(17 20 30 / 0.08) !important;
    border-radius: 8px !important;
    max-width: 100% !important;
    width: calc(100% - 28px) !important;
    color: #181818 !important;
    padding: 24px 12px !important;
    font-size: 16px !important;
    user-select: none !important;
}
.notification .icon {
    font-size: 26px;
}
.notification.notification-info .icon {
    color: #026AA2;
}
.notification.notification-success .icon {
    color: #9ECC00;
}
.notification.notification-error .icon {
    color: #F53400;
}
.modal {
    display: block;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: all linear 0.2s;
    height: auto;
    /*max-height: 540px;*/
    box-shadow: 0 1px 3px rgba(17, 20, 30, 0.1), 0 1px 2px rgba(17, 20, 30, 0.06);
}
.modal.show {
    height: 100%;
    opacity: 1;
    pointer-events: auto;
    background-color: rgba(17, 20, 30, 0.3);
    z-index: 9999;
}
.modal .modal-dialog {
    transform: translateY(-60px);
    transition: all linear 0.2s;
    margin: 0;
}
.modal.show .modal-dialog {
    transform: translateY(0);
}
.modal .modal-content {
    border: none !important;
}
.modal .modal-header {
    position: relative;
    background-color: #181818;
    border-radius: 0 !important;
    border-bottom: 0 !important;
}
.modal .modal-header.equal-padding {
    padding: 6px 12px;
}
.modal .modal-header.modal-header-danger {
    background-color: #661100;
}
.modal .modal-header.modal-header-primary {
    background-color: #224851;
}
.modal .modal-body {
    margin-top: -2px;
}
.modal .modal-body.small-padding {
    padding: 6px 10px;
}
.modal .modal-body.modal-body-primary {
    background-color: #224851;
}
.modal .modal-footer {
    box-shadow: 0 12px 16px -4px rgba(17, 20, 30, 0.1), 0 4px 6px -2px rgba(17, 20, 30, 0.05);
    border-radius: 0 0 8px 8px;
    border: none !important;
}
#accounts_modal {
    width: calc(100% - 16px);
    top: 0;
    left: 8px;
    padding-top: 8px;
    user-select: none;
}
#accounts_modal:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1200px;
    background-color: rgba(17, 20, 30, 0.66);
    content: " ";
    z-index: -1;
}
#accounts_modal .modal-content {
    border-radius: 10px !important;
}
#accounts_modal .modal-header {
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
}
#accounts_modal #hide_accounts_modal {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    color: #FFFFFF !important;
    transition: all linear 0.1s;
}
#accounts_modal #hide_accounts_modal:hover {
    font-size: 16px;
}
#accounts_modal .current-wallet .address {
    font-size: 14px;
}
#accounts_modal .current-wallet .address .icon {
    font-size: 16px;
}
#accounts_modal .modal-body {
    padding-right: 8px;
}
#accounts_modal .modal-body .button-item {
    min-height: 60px;
}
#accounts_modal .modal-body .button-item .icon {
    font-size: 14px;
    width: 40px;
}
#accounts_modal #wallet_list {
    max-height: 290px;
}
